* DoctorDashboard.css */
.dashboard {
    text-align: center;
    padding: 20px;
  }

  .dashboard-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }

  .dashboard-button {
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  .dashboard-button:hover {
    background-color: #4682b4;
  }